.DS_Store
__Previews/
*/__Previews/
History/
*/History/
Project Logs for */
*.SchDocPreview
*.PcbDocPreview
*.PcbDoc.htm
*.~\([0-9]*\)*
*.*~
*.bak
*.Cam
*_OLD.SchDoc
*_SAV.SchDoc
*_SAV2.SchDoc
Sheet1_simtest.*

